:root{
    --decorative-color:#2196F3;
}

:root{
    --background-color:#2F303A;

}
:root{
    --text-color:#FFFFFF;
}
:root{
    --background-color-two:#F5F4FA;
}
:root{
    --decorative-color-two: #757575;
}
:root{
    --webstudio-color: #000000;
}
.logo{
    color:var(--webstudio-color) ;
    font-family: Raleway;
font-size: 26px;
font-weight: 700;
line-height: 30.52px;
letter-spacing: 0.03em;
text-align: left;
text-underline-position: from-font;
text-decoration-skip-ink: none;
text-decoration: none;

}
.web{
    color: var(--decorative-color);
}
.logo-two{
    color: var(--text-color);
    font-family: Raleway;
font-size: 26px;
font-weight: 700;
line-height: 30.52px;
letter-spacing: 0.03em;
text-align: left;
text-underline-position: from-font;
text-decoration-skip-ink: none;
text-decoration: none;
}
.nav-site-item:hover{

color:var(--decorative-color);
font-family: Roboto;
font-size: 14px;
font-weight: 500;
line-height: 16.41px;
letter-spacing: 0.02em;
text-align: left;
text-underline-position: from-font;
text-decoration-skip-ink: none;
margin: 40px;

}
li{
    list-style-type: none;
}
.container{
    max-width: 1200px;
    margin: 0 auto;
    outline: solid red;

}
.hero{
    background-color:var(--background-color);
}
.button{
    color: var(--text-color);
    font-family: Roboto;
font-size: 16px;
font-weight: 700;
line-height: 30px;
letter-spacing: 0.06em;
text-align: center;
text-underline-position: from-font;
text-decoration-skip-ink: none;
text-align: center;

}
.white-text{
    color: var(--text-color);
    font-family: Roboto;
font-size: 14px;
font-weight: 400;
line-height: 24px;
letter-spacing: 0.03em;
text-align: left;
text-underline-position: from-font;
text-decoration-skip-ink: none;

  

}
.title{
    color: var(--text-color);
    font-family: Roboto;
    font-size: 44px;
    font-weight: 900;
    line-height: 60px;
    letter-spacing: 0.06em;
    text-align: center;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    
}
.hero-two{
  background-color: var(--background-color-two);
}
.subtitle{
    font-family: Roboto;
font-size: 14px;
font-weight: 700;
line-height: 16.41px;
letter-spacing: 0.03em;
text-align: left;
text-underline-position: from-font;
text-decoration-skip-ink: none;

}
.text{
    color: var(--decorative-color-two);
    font-family: Roboto;
font-size: 14px;
font-weight: 400;
line-height: 24px;
letter-spacing: 0.03em;
text-align: left;
text-underline-position: from-font;
text-decoration-skip-ink: none;

}
.title-two {
    font-family: Roboto;
font-size: 36px;
font-weight: 700;
line-height: 42.19px;
letter-spacing: 0.03em;
text-align: center;
text-underline-position: from-font;
text-decoration-skip-ink: none;
}
.title-three{
    font-family: Roboto;
font-size: 36px;
font-weight: 700;
line-height: 42.19px;
letter-spacing: 0.03em;
text-align: center;
text-underline-position: from-font;
text-decoration-skip-ink: none;
}
.team-name{
    font-family: Roboto;
    font-size: 16px;
    font-weight: 500;
    line-height: 18.75px;
    letter-spacing: 0.03em;
    text-align: center;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    
}
.team-info{
    color: var(--decorative-color-two);
    font-family: Roboto;
    font-size: 16px;
    font-weight: 400;
    line-height: 18.75px;
    letter-spacing: 0.03em;
    text-align: center;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    
}
.menu{
    display: flex;

 }
 .flex-end {
    justify-content: flex-end;
 }
.page-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}
.list-content{
display: flex;
}
.image-list{
    display:flex;
    justify-content: center;
    list-style: none;
    padding: 0;
    gap: 20px ;

}
.list-peuple{
    display:flex;
    justify-content: center;
    list-style: none;
    padding: 0;
    gap: 20px ;
}
.peuple{
    width: 270px;
height: 260px;
top: 1782px;
left: 215px;
gap: 0px;
opacity: 0px;
}
.member-info{
    padding: 15;
    background-color: #FFFFFF;
}