:root {
    --decorative-color: #2196F3;
    --background-color: #2F303A;
    --text-color: #FFFFFF;
    --background-color-two: #F5F4FA;
    --decorative-color-two: #757575;
    --webstudio-color: #000000;
    --subtitle-color: #212121;
}

li {
    list-style-type: none;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
    outline: solid red;

}

body {
    font-family: Roboto;
    font-size: 14px;
}

.header {
    padding-top: 24px;
    padding-bottom: 25px;
}

.header-logo {
    color: var(--webstudio-color);
    font-family: Raleway;
    font-size: 26px;
    font-weight: 700;
    line-height: 30.52px;
    letter-spacing: 0.03em;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    text-decoration: none;

}

.header-web {
    color: var(--decorative-color);
}

.header-link:hover {
    color: var(--decorative-color);

}

.header-link {
    color: var(--background-color);
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 0.28px;
}

.header-contact {
    color: var(--decorative-color-two);
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 0.28px;
}

.header-contact:hover {
    color: var(--decorative-color);
}

.hero {
    background-color: var(--background-color);
    padding-top: 200px;
    padding-bottom: 200px;
}

.hero-title {
    color: var(--text-color);
    text-align: center;
    font-size: 44px;
    font-weight: 900;
    line-height: 60px;
    letter-spacing: 2.64px;
    text-transform: uppercase;
}

.hero-button {
    color: var(--text-color);
    text-align: center;
    font-size: 16px;
    font-weight: 700;
    line-height: 30px;
    letter-spacing: 0.96px;
    border-radius: 4px;
    background: var(--decorative-color);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
}
.warning{
    padding-top: 94px;
    padding-bottom: 118px;
}
.warning-subtitle {
    color: var(--background-color);
    font-weight: 700;
    letter-spacing: 0.42px;
    text-transform: uppercase;
}

.warning-text {
    color: var(--decorative-color-two);
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.42px;
}

.occupation{
    padding-bottom: 94px;
}
.occupation-title {
    color: var(--background-color);
    text-align: center;
    font-size: 36px;
    font-weight: 700;
    letter-spacing: 1.08px;
}

.team{
    padding-top: 94px;
    padding-bottom: 94px;
}
.team-title {
    color: var(--subtitle-color);
    text-align: center;
    font-size: 36px;
    font-weight: 700;
    letter-spacing: 1.08px;
}

.team-name {
    color: var(--subtitle-color);
    text-align: center;
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 0.48px;
}

.team-text {
    color: var(--decorative-color-two);
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 0.48px;
}
.footer{
    background-color: var(--background-color);
    padding-top: 60px;
    padding-bottom: 60px;
}
.footer-logo {
    color: var(--text-color);
    font-family: Raleway;
    font-size: 26px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.78px;
}

.web {
    color: var(--decorative-color);
    font-family: Raleway;
    font-size: 26px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.78px;
}

.footer-text {
    color: rgba(255, 255, 255, 0.60);
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.42px;
}

.footer-adress {
    color: var(--text-color);
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.42px;
}
.chapter{
    padding-top: 94px;
    padding-bottom: 50px;
}
.chapter-btn {
    color: var(--subtitle-color);
    text-align: center;
    font-size: 16px;
    font-weight: 500;
    line-height: 26px;
    letter-spacing: 0.48px;
    border-radius: 4px;
    background: var(--background-color-two);
}

.chapter-btn:hover {
    border-radius: 4px;
    background: var(--decorative-color);
    color: var(--text-color);
    box-shadow: 0px 3px 1px 0px rgba(0, 0, 0, 0.10), 0px 1px 2px 0px rgba(0, 0, 0, 0.08), 0px 2px 2px 0px rgba(0, 0, 0, 0.12);
}
.posters{
    padding-bottom: 94px;
}
.posters-subtext{
    color: var(--decorative-color-two);
font-size: 16px;
font-weight: 400;
line-height: 30px;
letter-spacing: 0.48px;
}
.posters-text{
    color: var(--subtitle-color);
font-size: 18px;
font-weight: 700;
line-height: 36px;
letter-spacing: 1.08px;
}
