:root {
  --decorative-color: #2196f3;
  --background-color: #2f303a;
  --text-color: #ffffff;
  --background-color-two: #f5f4fa;
  --decorative-color-two: #757575;
  --webstudio-color: #000000;
  --subtitle-color: #212121;
}

li {
  list-style-type: none;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}

body {
  font-family: Roboto;
  font-size: 14px;
}

.header {
  padding-top: 24px;
  padding-bottom: 25px;
}

.header-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header-logo {
  color: var(--webstudio-color);
  font-family: Raleway;
  font-size: 26px;
  font-weight: 700;
  line-height: 30.52px;
  letter-spacing: 0.03em;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  text-decoration: none;
}

.header-web {
  color: var(--decorative-color);
}

.header-container {
  border-bottom: solid #ececec;
  padding-bottom: 56px;
  height: 1px;
}
.header-wrapper{
   display: flex;
  gap: 93px;
}
.header-pages {
  display: flex;
  gap: 50px;
  align-items: center;                                  
}

.header-list {
  display: flex;
  gap: 50px;
  align-items: center;
}
.header-item {
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: center;
}
.header-link:hover {
  color: var(--decorative-color);
}
.header-link:focus{
  color: var(--decorative-color);
}
.header-icon {
  fill: var(--decorative-color-two);
  width: 16px;
  height: 12px;
}

.header-item:hover .header-icon {
  fill: var(--decorative-color);
}
.header-item:focus-within .header-icon {
  fill: var(--decorative-color);
}
.header-svg {
  width: 10px;
  height: 16px;
}
.header-link {
  color: var(--background-color);
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 0.28px;
}
.header-contact {
  color: var(--decorative-color-two);
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 0.28px;
}

.header-contact:hover {
  color: var(--decorative-color);
}
.header-contact:focus {
  color: var(--decorative-color);
}
.hero {
  background-color: var(--background-color);
  background-image: linear-gradient(
      to left,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../img/hero-bg.jpg);
  padding-top: 200px;
  padding-bottom: 200px;
}

.hero-container {
  display: flex;
  max-width: 696px;
  flex-wrap: wrap;
}

.hero-title {
  color: var(--text-color);
  text-align: center;
  font-size: 44px;
  font-weight: 900;
  line-height: 60px;
  letter-spacing: 2.64px;
  text-transform: uppercase;
}

.hero-button {
  color: var(--text-color);
  text-align: center;
  font-size: 16px;
  font-weight: 700;
  line-height: 30px;
  letter-spacing: 0.96px;
  border-radius: 4px;
  background: var(--decorative-color);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  width: 216px;
  height: 50px;
  flex-shrink: 0;
  display: block;
  margin-right: auto;
  margin-left: auto;
  margin-top: 30px;
  cursor: pointer;
}
.warning {
  padding-top: 94px;
  padding-bottom: 94px;
}

.warning-list {
  display: flex;
  gap: 30px;
}

.warning-item {
  width: 270px;
}

.warning-item:first-child::before {
  background-image: url("../img/antenna.png");
  background-size: 70px;
  content: "";
  display: block;
  background-color: #f5f4fa;
  background-repeat: no-repeat;
  height: 120px;
  width: 100%;
  background-position: center;
  margin-bottom: 30px;
}

.warning-item:nth-child(2):before {
  background-image: url("../img/clock.png");
  width: 70px;
  height: 70px;
  content: "";
  display: block;
  background-color: #f5f4fa;
  height: 120px;
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  margin-bottom: 30px;
}

.warning-item:nth-child(3):before {
  background-image: url("../img/diagram.png");
  width: 70px;
  height: 70px;
  content: "";
  display: block;
  background-color: #f5f4fa;
  height: 120px;
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  margin-bottom: 30px;
}

.warning-item:last-child::before {
  background-image: url("../img/astronaut.png");
  width: 70px;
  height: 70px;
  content: "";
  display: block;
  background-color: #f5f4fa;
  height: 120px;
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  margin-bottom: 30px;
}

.warning-subtitle {
  color: var(--background-color);
  font-weight: 700;
  letter-spacing: 0.42px;
  text-transform: uppercase;
  margin-bottom: 10px;
}

.warning-text {
  color: var(--decorative-color-two);
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.42px;
}

.occupation {
  padding-bottom: 94px;
}

.occupation-title {
  color: var(--background-color);
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  letter-spacing: 1.08px;
  margin-bottom: 30px;
}

.occupation-list {
  display: flex;
  gap: 30px;
}

.occupation-photo {
  display: block;
  width: 370px;
}

.team {
  padding-top: 94px;
  padding-bottom: 94px;
  background-color: #f5f4fa;
}

.team-info {
  padding-top: 30px;
  padding-bottom: 30px;
}

.team-title {
  color: var(--subtitle-color);
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  letter-spacing: 1.08px;
  margin-bottom: 50px;
}

.team-list {
  display: flex;
  gap: 30px;
}

.team-item {
  background-color: var(--text-color);
}

.team-peuple {
  width: 270px;
}

.team-name {
  color: var(--subtitle-color);
  text-align: center;
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 0.48px;
  margin-bottom: 10px;
}

.team-text {
  color: var(--decorative-color-two);
  text-align: center;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0.48px;
}
.team-roster {
    margin-top: 16px;
  display: flex;
  gap: 10px;
  justify-content: center;
}

.team-link {
  display: inline-flex;      
  align-items: center;        
  justify-content: center;   
  width: 44px;                
  height: 44px;              
  border-radius: 50%;      
  background-color: transparent; 
}

.team-icon {
  width: 20px; 
  height: 20px; 
  fill: var(--decorative-color-two);  
}
.team-link:hover {
  background-color: var(--decorative-color); 
}
.team-link:focus {
  background-color: var(--decorative-color); 
}

.team-link:hover .team-icon {
  fill: var(--text-color); 
}

.team-link:focus .team-icon {
  fill: var(--text-color); 
}   

.customers-title {
  font-weight: 700px;
  font-size: 36px;
  line-height: 100%;
  letter-spacing: 3%;
  text-align: center;
}

.customers {
  padding-top: 94px;
  padding-bottom: 94px;
}

.customers-title {
  margin-bottom: 50px;
}

.customers-list {
  display: flex;
  gap: 30px;
}

.customers-svg {
  width: 106px;
  height: 60px;
  fill: var(--decorative-color-two);
}
.customers-item {
  border: 1px solid #eee;
  border-radius: 4px;
  padding-left: 32px;
  padding-right: 32px;
  padding-bottom: 16px;
  padding-top: 16px;
}
.customers-item:hover {
  border: 1px solid var(--decorative-color);
}
.customers-item:focus-within {
  border: 1px solid var(--decorative-color);
}
.customers-item:hover .customers-svg {
  fill: var(--decorative-color);
}
.customers-item:focus-within .customers-svg {
  fill: var(--decorative-color);
}
.footer {
  background-color: var(--background-color);
  padding-top: 60px;
  padding-bottom: 60px;
}

.container-footer {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  gap: 70px;
}

.footer-box {
  display: flex;
  max-width: 231px;
  flex-wrap: wrap;
}

.footer-list {
  display: flex;
  flex-wrap: wrap;
}

.footer-logo {
  color: var(--text-color);
  font-family: Raleway;
  font-size: 26px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.78px;
  margin-bottom: 20px;
}

.web {
  color: var(--decorative-color);
  font-family: Raleway;
  font-size: 26px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.78px;
}

 .footer-item {
  margin-top: 9px;
}
.footer-text{
 color: rgba(255, 255, 255, 0.6);
  font-size: 14px;
  font-weight: 400;   
  line-height: 24px;
  letter-spacing: 0.42px;
}
.footer-adress {
  color: var(--text-color);
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.42px;
}
.footer-roster {
  display: flex;
  gap: 10px;
}
.footer-element {
   display: flex;      
  width: 44px;                
  height: 44px;              
  border-radius: 50%;      
  background-color: var(--decorative-color-two); 
}
 .footer-link{
   display: flex;      
  align-items: center;        
  justify-content: center;
  width: 100%;   
  height: 100%;
  border-radius: 50%;
}
.footer-icon {
  width: 20px; 
  height: 20px; 
  fill: var(--background-color-two);  
}
.footer-element:hover {
  background-color: var(--decorative-color); 
}
.footer-element:focus-within {
  background-color: var(--decorative-color);  
}
.footer-element:hover .footer-icon {
  fill: var(--text-color); 
}
.footer-element :focus-within  .footer-icon {       
  background-color: var(--decorative-color); 
} 
.footer-title {
  color: var(--text-color);
  width: 116px;
  font-size: 14px;
  text-transform: uppercase;
  margin-bottom: 20px;
}
 .footer-icon:hover {
  background-color: var(--decorative-color);
}
.chapter {
  padding-top: 94px;
  padding-bottom: 50px; 
}

.chapter-list {
  display: flex;
  justify-content: center;
  gap: 8px;
}

.chapter-btn {
  color: var(--subtitle-color);
  text-align: center;
  font-size: 16px;
  font-weight: 500;
  line-height: 26px;
  letter-spacing: 0.48px;
  border-radius: 4px;
  background: var(--background-color-two);
  padding-top: 6px;
  padding-bottom: 6px;
  padding-left: 22px;
  padding-right: 22px;
  cursor: pointer;
}

.chapter-btn:hover {
  border-radius: 4px;
  background: var(--decorative-color);
  color: var(--text-color);
  box-shadow: 0px 3px 1px 0px rgba(0, 0, 0, 0.1),
    0px 1px 2px 0px rgba(0, 0, 0, 0.08), 0px 2px 2px 0px rgba(0, 0, 0, 0.12);
}
.chapter-btn:focus   {
  border-radius: 4px;
  background: var(--decorative-color);
  color: var(--text-color);
  box-shadow: 0px 3px 1px 0px rgba(0, 0, 0, 0.1),
    0px 1px 2px 0px rgba(0, 0, 0, 0.08), 0px 2px 2px 0px rgba(0, 0, 0, 0.12);
}
.posters {
  padding-bottom: 64px;
}

.posters-list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.posters-item {
  padding-bottom: 30px;
  border: 1px solid #eee;
  max-width: 370px;
  padding-bottom: 20px;
}
.posters-item:hover{
box-shadow: 0px 3px 1px 0px rgba(0, 0, 0, 0.1),
    0px 1px 2px 0px rgba(0, 0, 0, 0.08), 0px 2px 2px 0px rgba(0, 0, 0, 0.12);
}
.posters-photo {
  width: 370px;
}

.posters-subtext {
  color: var(--decorative-color-two);
  font-size: 16px;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: 0.48px;
  padding-left: 24px;
}

.posters-text {
  color: var(--subtitle-color);
  font-size: 18px;
  font-weight: 700;
  line-height: 36px;
  letter-spacing: 1.08px;
  padding-left: 24px;
  margin-bottom: 4px;
  margin-top: 20px;
}
