:root{
    --subtitle-color: #212121;
    --decorative-color: #2196F3;
    --background-color: #2F303A;
    --decorative-color-two: #757575;
    --text-color: #FFFFFF;
    --background-color-two: #F5F4FA;
    --icon-color: #AFB1B8;
}