$subtitle-color: #212121;
$decorative-color: #2196f3;
$background-color: #2f303a;
$decorative-color-two: #757575;
$text-color: #ffffff;
$background-color-two: #f5f4fa;
$logo-color: #000000;
$icon-color: #AFB1B8;
