@use "../base/var" as *;
@use "../utils/mixin" as *;
.chapter {
  padding-top: 60px;
  padding-bottom: 40px;

     @media screen and (min-width: 768px) {
  padding-bottom: 30px;
      }
         @media screen and (min-width: 1200px) {
    padding-top: 94px;
  padding-bottom: 50px;
      }

  &__list {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    gap: 8px;
    max-width: 326px;

       @media screen and (min-width: 768px) {
     justify-content: center;
     flex-wrap: nowrap;
     max-width: none;
  }
}
  &__btn {
    color: $subtitle-color;
    text-align: center;
    font-size: 16px;
    font-weight: 500;
    line-height: 26px;
    letter-spacing: 0.48px;
    border-radius: 4px;
    border: none;
    background: $background-color-two;
    padding-top: 6px;
    padding-bottom: 6px;
    padding-left: 22px;
    padding-right: 22px;
    cursor: pointer;
    // transition-property: background-color color box-shadow;
    // transition-duration: 250ms;
    // transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    @include transitions($property:(background-color, color, box-shadow));
  
  &:hover {
    border-radius: 4px;
    background-color: $decorative-color;
    color: $text-color;
    box-shadow:
      0px 3px 1px 0px $shadow-one,
      0px 1px 2px 0px $shadow-two,
      0px 2px 2px 0px $shadow-three;
  }

  &:focus {
    border-radius: 4px;
    background: $decorative-color;
    color: $text-color;
    box-shadow:
     0px 3px 1px 0px $shadow-one,
      0px 1px 2px 0px $shadow-two,
      0px 2px 2px 0px $shadow-three;
  }
}
}
