@use "../base/var" as *;
@use "../utils/mixin" as *;
.customers {
  padding-top: 94px;
  padding-bottom: 94px;

  &__title {
    font-weight: 700px;
    font-size: 36px;
    line-height: 100%;
    letter-spacing: 3%;
    text-align: center;
    margin-bottom: 50px;
  }
  &__list {
    display: flex;
    gap: 30px;
  }
  &__item {
    border: 1px solid $icon-color;
    border-radius: 4px;
    padding-left: 32px;
    padding-right: 32px;
    padding-bottom: 16px;
    padding-top: 16px;
    // transition-property: border;
    // transition-duration: 250ms;
    // transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    @include transitions($property:border);

    &:hover {
      border: 1px solid $decorative-color;

    .customers__svg{
      fill: $decorative-color;
    }
    }

    &:focus-within {
      border: 1px solid $decorative-color;
    }

    &:hover &__svg {
      fill: $decorative-color;
    }

    &:focus-within &__svg {
      fill: $decorative-color;
    }
  }
  &__svg {
    width: 106px;
    height: 60px;
    fill: $icon-color;
    // transition-property: fill;
    // transition-duration: 250ms;
    // transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    @include transitions($property:fill);
  }
}
