@use "../base/var" as *;
.occupation {
  padding-bottom: 94px;

  &__title {
    color: $subtitle-color;
    text-align: center;
    font-size: 36px;
    font-weight: 700;
    letter-spacing: 1.08px;
    margin-bottom: 30px;
  }
  &__list {
    display: flex;
    gap: 30px;
  }
  &__item {
 position: relative;
  }
  &__photo {
    display: block;
    width: 370px;
  }

  &__text {
    font-weight: 700;
    font-size: 14px;
    line-height: 100%;
    letter-spacing: 3%;
    text-transform: uppercase;
    color: $text-color;
    background-color: $occuption-text-color;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    text-align: center;
    padding-top: 27px;
    padding-bottom: 27px;
    
  }
}
