@use "../base/var" as *;
.posters {
    padding-bottom: 64px;
}

.posters-list {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}

.posters-item {
    padding-bottom: 30px;
    border: 1px solid #eee;
    max-width: 370px;
    padding-bottom: 20px;
    transition-property: box-shadow;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.posters-item:hover {
    box-shadow:
        0px 3px 1px 0px rgba(0, 0, 0, 0.1),
        0px 1px 2px 0px rgba(0, 0, 0, 0.08),
        0px 2px 2px 0px rgba(0, 0, 0, 0.12);
}

.posters-thumb {
    position: relative;
    overflow: hidden;
}

.posters-overlay {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    transform: translateY(100%);
    transition: transform 400ms ease;
    background-color: rgba(33, 150, 243, 90%);
    padding-top: 63px;
    padding-bottom: 63px;
    padding-left: 24px;
    padding-right: 24px;
}

.posters-item:hover .posters-overlay {
    opacity: 1;
    transform: translateY(0);
}

.posters-overlay-text {
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    letter-spacing: 3%;
    color: $text-color;
}

.posters-photo {
    width: 370px;
}

.posters-subtext {
    color: $decorative-color-two;
    font-size: 16px;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 0.48px;
    padding-left: 24px;
}

.posters-text {
    color: $subtitle-color;
    font-size: 18px;
    font-weight: 700;
    line-height: 36px;
    letter-spacing: 1.08px;
    padding-left: 24px;
    margin-bottom: 4px;
    margin-top: 20px;
}