@use "../base/var" as *;
@use "../utils/mixin" as *;
.posters {
  padding-bottom: 94px;

  &__list {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
  }

  &__item {
    border: 1px solid #eee;
    max-width: 370px;
    padding-bottom: 20px;
    // transition-property: box-shadow;
    // transition-duration: 250ms;
    // transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    @include transitions($property:box-shadow);

    &:hover {
      box-shadow:
        0px 3px 1px 0px $shadow-one,
        0px 1px 2px 0px $shadow-two,
        0px 2px 2px 0px $shadow-three;

        .posters__overlay{
   opacity: 1;
      transform: translateY(0);
        }
    }
  }
  &__overlay {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    transform: translateY(100%);
    transition: transform 400ms ease;
    background-color: $overlay;
    padding-top: 63px;
    padding-bottom: 63px;
    padding-left: 24px;
    padding-right: 24px;
  }
  &__overlaytext {
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    letter-spacing: 3%;
    color: $text-color;
  }
  &__text {
    color: $subtitle-color;
    font-size: 18px;
    font-weight: 700;
    line-height: 36px;
    letter-spacing: 1.08px;
    padding-left: 24px;
    margin-bottom: 4px;
    margin-top: 20px;
  }
  &__subtext {
    color: $decorative-color-two;
    font-size: 16px;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 0.48px;
    padding-left: 24px;
  }
  &__thumb {
    position: relative;
    overflow: hidden;
  }
  &__photo {
    width: 370px;
  }
}
