@use "../base/var" as *;
@use"../utils/mixin" as *;
@use "../utils/placeholder" as *;
.team {
  padding-top: 60px;
  padding-bottom: 60px;

   @media screen and (min-width: 1200px) {
    padding-top: 94px;
  padding-bottom: 94px;
  }

  &__title {
    color: $subtitle-color;
    text-align: center;
    font-size: 36px;
    font-weight: 700;
    letter-spacing: 1.08px;
    margin-bottom: 50px;
  }
  &__list {
    display: flex;
    gap: 30px;
    flex-wrap: wrap;

    @media screen and (min-width: 1200px) {
    flex-wrap: nowrap;
  }
  }

  &__item {
    background-color: $text-color;
    border-radius: 0 0 4px 4px;
    box-shadow: 0 2px 1px 0 $backdrop-color, 0 1px 1px 0 $shadow-five, 0 1px 3px 0 $shadow-three;
    overflow: hidden;
    width: 100%;

     @media screen and (min-width: 768px) {
    width: 354px;
     }
      @media screen and (min-width: 1200px) {
    width: 270px;
      }
  }

  &__peuple {
    width: 100%;

     @media screen and (min-width: 768px) {
    width: 354px;
     }
      @media screen and (min-width: 1200px) {
    width: 270px;
      }
  }
  &__info {
    padding-top: 30px;
    padding-bottom: 30px;
  }

  &__name {
    color: $subtitle-color;
    text-align: center;
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 0.48px;
    margin-bottom: 10px;
  }

  &__text {
    color: $decorative-color-two;
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 0.48px;
  }

  &__roster {
    margin-top: 16px;
    display: flex;
    gap: 10px;
    justify-content: center;
  }
  &__link {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    background-color: transparent;
    // transition-property: background-color;
    // transition-duration: 250ms;
    // transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    @include transitions($property:background-color);

    &:hover {
      background-color: $decorative-color;
      .team__icon{
        fill: $text-color;
      }
    }

    &:focus {
      background-color: $decorative-color;
    }

    &:hover &__icon {
      fill: $text-color;
    }

    &:focus &__icon {
      fill: $text-color;
    }
  }

  &__icon {
    width: 20px;
    height: 20px;
    fill: $icon-color;
    // transition-property: fill;
    // transition-duration: 250ms;
    // transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    @include transitions($property:fill);
  }
}
