@use "../base/var" as *;
.team {
  padding-top: 94px;
  padding-bottom: 94px;
  background-color: #f5f4fa;

  &__title {
    color: $subtitle-color;
    text-align: center;
    font-size: 36px;
    font-weight: 700;
    letter-spacing: 1.08px;
    margin-bottom: 50px;
  }
  &__list {
    display: flex;
    gap: 30px;
  }

  &__item {
    background-color: $text-color;
    border-radius: 0 0 4px 4px;
    box-shadow: 0 2px 1px 0 rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12);
    overflow: hidden;
  }

  &__peuple {
    width: 270px;
  }
  &__info {
    padding-top: 30px;
    padding-bottom: 30px;
  }

  &__name {
    color: $subtitle-color;
    text-align: center;
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 0.48px;
    margin-bottom: 10px;
  }

  &__text {
    color: $decorative-color-two;
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 0.48px;
  }

  &__roster {
    margin-top: 16px;
    display: flex;
    gap: 10px;
    justify-content: center;
  }
  &__link {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    background-color: transparent;
    transition-property: background-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

    &:hover {
      background-color: $decorative-color;
      .team__icon{
        fill: $text-color;
      }
    }

    &:focus {
      background-color: $decorative-color;
    }

    &:hover &__icon {
      fill: $text-color;
    }

    &:focus &__icon {
      fill: $text-color;
    }
  }

  &__icon {
    width: 20px;
    height: 20px;
    fill: $icon-color;
    transition-property: fill;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
}
