@use "../base/var" as *;
.warning {
  padding-top: 94px;
  padding-bottom: 94px;

  &__list {
    display: flex;
    gap: 30px;
  }

  &__item {
    width: 270px;

&::before{
  background-size: 70px;
      content: "";
      display: block;
      background-color: #f5f4fa;
      background-repeat: no-repeat;
      height: 120px;
      width: 100%;
      background-position: center;
      margin-bottom: 30px;
}

    &:first-child::before {
      background-image: url("../img/antenna.png");
    }

    &:nth-child(2):before {
      background-image: url("../img/clock.png");
    }

    &:nth-child(3):before {
      background-image: url("../img/diagram.png");
    }

    &:last-child::before {
      background-image: url("../img/astronaut.png");
    }
  }
  &__subtitle {
    color: $subtitle-color;
    font-weight: 700;
    letter-spacing: 0.42px;
    text-transform: uppercase;
    margin-bottom: 10px;
  }

  &__text {
    color: $decorative-color-two;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.42px;
  }
}
