@use "../base/var" as *;
.warning {
  padding-top: 60px;
  padding-bottom: 60px;

   @media screen and (min-width: 1200px) {
       padding-top: 94px;
  padding-bottom: 94px;
    }

  &__list {
    display: flex;
    gap: 30px;
    flex-wrap: wrap;

     @media screen and (min-width: 1200px) {
       flex-wrap: nowrap;
    }
  }
  

  &__item {

&::before{
  background-size: 70px;
      content: "";
      display: block;
      background-color: $background-color-two;
      background-repeat: no-repeat;
      height: 120px;
      width: 100% !important;
      max-width: 450px;
      background-position: center;
      margin-bottom: 30px;
}

    &:first-child::before {
      background-image: url("../img/antenna.png");
    }

    &:nth-child(2):before {
      background-image: url("../img/clock.png");
    }

    &:nth-child(3):before {
      background-image: url("../img/diagram.png");
    }

    &:last-child::before {
      background-image: url("../img/astronaut.png");
    }

     @media screen and (min-width: 768px) {
    width: 354px;
    }

     @media screen and (min-width: 1200px) {
    width: 270px;
    }
  }
  &__subtitle {
    color: $subtitle-color;
    font-weight: 700;
    letter-spacing: 0.42px;
    text-transform: uppercase;
    margin-bottom: 10px;
  }

  &__text {
    color: $decorative-color-two;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.42px;
  }
}
